<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<link rel="icon" type="image/png" href="/dnd-wiki/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/dnd-wiki/favicon.svg" />
<link rel="shortcut icon" href="/dnd-wiki/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/dnd-wiki/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="Nornfeld" />
<link rel="manifest" href="/dnd-wiki/site.webmanifest" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">


<!-- end custom head snippets -->
