{% case include.type %}
  {% when "Acid" %}<i class="fa-solid fa-flask" title="{{ include.type }}"></i>
  {% when "Bludgeoning" %}<i class="fa-solid fa-person-falling-burst" title="{{ include.type }}"></i>
  {% when "Cold" %}<i class="fa-regular fa-snowflake" title="{{ include.type }}"></i>
  {% when "Fire" %}<i class="fa-solid fa-fire-flame-curved" title="{{ include.type }}"></i>
  {% when "Force" %}<i class="fa-solid fa-explosion" title="{{ include.type }}"></i>
  {% when "Lightning" %}<i class="fa-solid fa-bolt" title="{{ include.type }}"></i>
  {% when "Necrotic" %}<i class="fa-solid fa-book-skull" title="{{ include.type }}"></i>
  {% when "Piercing" %}<i class="fa-solid fa-icicles" title="{{ include.type }}"></i>
  {% when "Poison" %}<i class="fa-solid fa-vial" title="{{ include.type }}"></i>
  {% when "Psychic" %}<i class="fa-solid fa-head-side-virus" title="{{ include.type }}"></i>
  {% when "Radiant" %}<i class="fa-solid fa-hands-praying" title="{{ include.type }}"></i>
  {% when "Slashing" %}<i class="fa-regular fa-moon" title="{{ include.type }}"></i>
  {% when "Thunder" %}<i class="fa-solid fa-cloud-bolt" title="{{ include.type }}"></i>
  {% when "Blinded" %}<i class="fa-regular fa-eye-slash" title="{{ include.type }}"></i>
  {% when "Charmed" %}<i class="fa-solid fa-heart-crack" title="{{ include.type }}"></i>
  {% when "Deafened" %}<i class="fa-solid fa-ear-deaf" title="{{ include.type }}"></i>
  {% when "Frightened" %}<i class="fa-regular fa-face-sad-cry" title="{{ include.type }}"></i>
  {% when "Grappled" %}<i class="fa-solid fa-hand-fist" title="{{ include.type }}"></i>
  {% when "Incapacitated" %}<i class="fa-solid fa-user-injured" title="{{ include.type }}"></i>
  {% when "Invisible" %}<i class="fa-regular fa-eye" title="{{ include.type }}"></i>
  {% when "Paralyzed" %}<i class="fa-solid fa-face-flushed" title="{{ include.type }}"></i>
  {% when "Petrified" %}<i class="fa-solid fa-face-meh-blank" title="{{ include.type }}"></i>
  {% when "Poisioned" %}<i class="fa-solid fa-person-dots-from-line" title="{{ include.type }}"></i>
  {% when "Prone" %}<i class="fa-solid fa-person-falling" title="{{ include.type }}"></i>
  {% when "Restrained" %}<i class="fa-solid fa-hands-bound" title="{{ include.type }}"></i>
  {% when "Stunned" %}<i class="fa-solid fa-hand-sparkles" title="{{ include.type }}"></i>
  {% when "Unconscious" %}<i class="fa-solid fa-face-dizzy" title="{{ include.type }}"></i>
  {% when "Exhaustion" %}<i class="fa-solid fa-face-tired" title="{{ include.type }}"></i>
  {% when "Buff" %}<i class="fa-solid fa-shield-heart" title="{{ include.type }}"></i>
  {% when "Communication" %}<i class="fa-solid fa-comments" title="{{ include.type }}"></i>
  {% when "Concentration" %}<i class="fa-solid fa-copyright" title="{{ include.type }}"></i>
  {% when "Creation" %}<i class="fa-solid fa-hands-holding-circle" title="{{ include.type }}"></i>
  {% when "Damage" %}<i class="fa-solid fa-crosshairs" title="{{ include.type }}"></i>
  {% when "Debuff" %}<i class="fa-solid fa-shield-halved" title="{{ include.type }}"></i>
  {% when "Deception" %}<i class="fa-brands fa-redhat" title="{{ include.type }}"></i>
  {% when "Detection" %}<i class="fa-solid fa-eye" title="{{ include.type }}"></i>
  {% when "Foreknowledge" %}<i class="fa-solid fa-scroll" title="{{ include.type }}"></i>
  {% when "Healing" %}<i class="fa-solid fa-hand-holding-heart" title="{{ include.type }}"></i>
  {% when "Movement" %}<i class="fa-solid fa-person-walking" title="{{ include.type }}"></i>
  {% when "Ritual" %}<i class="fa-solid fa-book" title="{{ include.type }}"></i>
  {% when "Social" %}<i class="fa-solid fa-users" title="{{ include.type }}"></i>
  {% when "Summoning" %}<i class="fa-solid fa-book-open" title="{{ include.type }}"></i>
  {% when "Utility" %}<i class="fa-solid fa-hammer" title="{{ include.type }}"></i>
  {% when "D&D" %}<i class="fa-brands fa-d-and-d"></i>
{% endcase %}
