{% case include.type %}
  {% when "Acid" %}<i class="fa-solid fa-flask"></i>
  {% when "Bludgeoning" %}<i class="fa-solid fa-person-falling-burst"></i>
  {% when "Cold" %}<i class="fa-regular fa-snowflake"></i>
  {% when "Fire" %}<i class="fa-solid fa-fire-flame-curved"></i>
  {% when "Force" %}<i class="fa-solid fa-explosion"></i>
  {% when "Lightning" %}<i class="fa-solid fa-bolt"></i>
  {% when "Necrotic" %}<i class="fa-solid fa-book-skull"></i>
  {% when "Piercing" %}<i class="fa-solid fa-icicles"></i>
  {% when "Poison" %}<i class="fa-solid fa-skull"></i>
  {% when "Psychic" %}<i class="fa-solid fa-brain"></i>
  {% when "Radiant" %}<i class="fa-solid fa-hands-holding"></i>
  {% when "Slashing" %}<i class="fa-regular fa-moon"></i>
  {% when "Thunder" %}<i class="fa-solid fa-cloud-bolt"></i>
  {% when "Blinded" %}<i class="fa-regular fa-eye-slash"></i>
  {% when "Charmed" %}<i class="fa-solid fa-heart-crack"></i>
  {% when "Deafened" %}<i class="fa-solid fa-ear-deaf"></i>
  {% when "Frightened" %}<i class="fa-regular fa-face-sad-cry"></i>
  {% when "Grappled" %}<i class="fa-solid fa-hand-fist"></i>
  {% when "Incapacitated" %}<i class="fa-solid fa-user-injured"></i>
  {% when "Invisible" %}<i class="fa-regular fa-eye"></i>
  {% when "Paralyzed" %}<i class="fa-solid fa-face-flushed"></i>
  {% when "Petrified" %}<i class="fa-solid fa-face-meh-blank"></i>
  {% when "Poisioned" %}<i class="fa-solid fa-person-dots-from-line"></i>
  {% when "Prone" %}<i class="fa-solid fa-person-falling"></i>
  {% when "Restrained" %}<i class="fa-solid fa-square-person-confined"></i>
  {% when "Stunned" %}<i class="fa-solid fa-hand-sparkles"></i>
  {% when "Unconscious" %}<i class="fa-solid fa-face-dizzy"></i>
  {% when "Exhaustion" %}<i class="fa-solid fa-face-tired"></i>
{% endcase %}
