{% assign all_spells = site.spells | where: "source", page.title | sort: "level" %}
{% assign levels = all_spells | map: "level" | uniq %}
{% for level in levels %}
  <h2 id="{{ level | slugify }}">{{ level | capitalize }}</h2>
  The following are {{ level }} spells.
  {% assign subclasses = all_subclasses | where: "subclass", class %}
  {% for subclass in subclasses %}<h3 id="{{ subclass.title | slugify }}">{{ subclass.title }}</h3>{% include page_content.html page=subclass %}
  {% endfor %}
{% endfor %}
