{% assign all_subclasses = site.classes | where: "source", page.title | where_exp: "item", "item.v_2024 == nil" | sort: "subclass" %}
{% assign classes = all_subclasses | map: "subclass" | uniq %}
{% for class in classes %}
  <h2 id="{{ class | slugify }}">{{ class | capitalize }}</h2>
  The following are {{ class }} subclasses.
  {% assign subclasses = all_subclasses | where: "subclass", class %}
  {% for subclass in subclasses %}<h3 id="{{ subclass.title | slugify }}">{{ subclass.title }}</h3>{% include page_content.html page=subclass %}
  {% endfor %}
{% endfor %}
