{% capture image %}
  {% if include.path contains ";" %}
    {% assign path = include.path | split: ";" | first %}
    {% assign size = include.path | split: ";" | last | split: "." | first | strip %}
  {% else %}
    {% assign path = include.path %}
    {% assign size = "large" %}
  {% endif %}
  {% if size == "full" %}
    {% assign ext = ".png" %}
  {% else %}
    {% assign ext = ".jpg" %}
  {% endif %}
  {% assign path = path | strip | replace: " ", "-" | prepend: "/assets/images/" | append: "/" | replace: "//", "/" | replace: "/assets/images/assets/images/", "/assets/images/" | prepend: site.baseurl %}
  [![{{ path | split: "/" | last }}]({{ path | append: size | append: ".jpg" }}){:.centered}]({{ path | append: "full.png" }})
{% endcapture %}{{ image | markdownify | strip_newlines }}
