{% if page.collection != "expansions" %}
  {% if page.source %}
    {% assign sauce = page.source %}
  {% else %}
    {% assign sauce = "Untold Legends of Nornfeld" %}
  {% endif %}
  {% assign index = sauce | remove: "'" | slugify %
  {% assign expansion = site.expansions | where: "index", index | first %}
  <div class="notice{% if sauce == "Survivor's Guide to Morgenfell" %}--danger{% elsif sauce = "Untold Legends of Nornfeld" %}--info{% elsif sauce != "Basic Rules" %}--success{% endif %}">
    <i><a href="{% if expansion %}{{ expansion.url | relative_url }}{% endif %}" class="btn">{{ sauce }}</a></i>
  </div>
{% endif %}
