{% case include.type %}
  {% when "Self" %}<i class="fa-solid fa-user" title="{{ include.type }}"></i>
  {% when "Touch" %}<i class="fa-solid fa-hand" title="{{ include.type }}"></i>
  {% when "Melee" %}<i class="fa-solid fa-hand-back-fist" title="{{ include.type }}"></i>
  {% when "Ranged" %}<i class="fa-solid fa-location-arrow" title="{{ include.type }}"></i>
  {% when "Cone" %}<i class="fa-solid fa-less-than" title="{{ include.type }}"></i>
  {% when "Cube" %}<i class="fa-solid fa-cube" title="{{ include.type }}"></i>
  {% when "Cylinder" %}<i class="fa-regular fa-circle" title="{{ include.type }}"></i>
  {% when "Line" %}<i class="fa-solid fa-slash" title="{{ include.type }}"></i>
  {% when "Square" %}<i class="fa-regular fa-square" title="{{ include.type }}"></i>
  {% when "Sphere" %}<i class="fa-solid fa-globe" title="{{ include.type }}"></i>
{% endcase %}
