{% capture modified_content %}
{% include tooltip_style.html %}
{% assign words = include.content | markdownify | split: " " %}
{% for word in words %}
  {% if word contains "[[" %}
    {% assign start = "[[" %}
    {% assign end = "]]" %}
    {% assign type = "tooltip" %}
  {% elsif word contains "[:" %}
    {% assign start = "[:" %}
    {% assign end = ":]" %}
    {% assign type = "not_implemented" %}
  {% endif %}
  {% if word contains start %}
    {% assign before = word | split: start | first %}
    {% assign inside_after = word | split: start | last %}
    {% unless word contains end %}
      {% assign title = inside_after %}
      {% assign ready = false %}
    {% endunless %}
  {% endif %}
  {% if word contains end %}
    {% unless word contains start %}
      {% assign inside_after = word %}
    {% endunless %}
    {% assign inside = inside_after | split: end | first %}
    {% assign after = inside_after | split: end | last %}
    {% assign title = title | append: ' ' | append: inside | replace: '-', ' ' | replace: '_', ' ' | strip %}
    {% assign ready = true %}
  {% endif %}
  {% if ready %}
    {% capture component %}
      {% case type %}
        {% when "tooltip" %}{% include tooltip.html title=title %}
        {% when "not_implemented" %}{{ title }}
      {% endcase %}
    {% endcapture %}
    {% assign type = nil %}
    {% assign title = "" %}
    {% assign ready = false %}
    {{ before }}{{ component | strip_newlines | strip }}{% if after != inside %}{{ after }}{% endif %}
  {% elsif type %}
    {% unless word contains start %}
      {% assign title = title | append: ' ' | append: word %}
    {% endunless %}
  {% else %}
    {{ word }}
  {% endif %}
{% endfor %}
{% endcapture %}{{ modified_content | strip_newlines }}
