{% capture modified_content %}
{% assign words = include.content | split: " " %}
{% for word in words %}
  {% if word contains "[[" and word contains "]]" %}
    {% assign before_bracket = word | split: '[[' | first %}
    {% assign inside_and_after_bracket = word | split: '[[' | last %}
    {% assign title = inside_and_after_bracket | split: ']]' | first | replace: '-', ' ' %}
    {% assign after_bracket = inside_and_after_bracket | split: ']]' | last %}
    {{ before_bracket }}{% include tooltip.html title=title %}{{ after_bracket }}
  {% else %}
    {{ word | strip }}
  {% endif %}
{% endfor %}
{% endcapture %}{{ modified_content | strip_newlines | strip }}
