{% if page.effect %}
  {% assign effect = page.effect %}
{% else %}
  {% assign effect = "None" %}
  {% for tag in page.tags %}
    {% if tag != "Spell" %}
      {% assign effect = tag %}
      {% break %}
    {% endif %}
  {% endfor %}
{% endif %}
{% if page.range %}
  {% assign range = page.range %}
{% else %}
  {% assign range = "Self" %}
{% endif %}

<table><tbody>
    <tr>
      <th>Level</th>
      <th>School</th>
      <th>Range / Area</th>
      <th>Components</th>
    </tr>
    <tr>
      <td>{{ page.level }}</td>
      <td>{{ page.school }}</td>
      <td>{% include range.html type=range %} {{ range }}{% if page.area %} / {{ page.area }}  {% include range.html type=page.shape %}{% endif %}</td>
      <td>{{ page.comp | join: ', ' }}{% if page.material %} *{% endif %}</td>
    </tr>
    <tr>
      <th>Duration</th>
      <th>Casting Time</th>
      <th>Attack / Save</th>
      <th>Damage / Effect</th>
    </tr>
    <tr>
      <td>{% if page.concentration %}{% include effect.html type="Concentration" %} {% endif %}{% if page.duration %}{{ page.duration }}{% else %}Instantaneous{% endif %}</td>
      <td>{% if page.cast_time %}{{ page.cast_time }}{% else %}1 Action{% endif %}{% if page.ritual %} {% include effect.html type="Ritual" %}{% endif %}</td>
      <td>{% if page.attack %}{% include range.html type=page.attack %} {{ page.attack }}{% else %}None{% endif %}</td>
      <td>{% include effect.html type=effect %} {{ effect }}</td>
    </tr>
  </tbody>
</table>
