<table><tbody>
    <tr>
      <th>Level</th>
      <th>School</th>
      <th>Range / Area</th>
      <th>Components</th>
    </tr>
    <tr>
      <td>{{ page.level }}</td>
      <td>{{ page.school }}</td>
      <td>{% if page.range %}{{ page.range }}{% else %}Self{% endif %}</td>
      <td>{{ page.comp | join: ', ' }}{% if page.material %} *{% endif %}</td>
    </tr>
    <tr>
      <th>Duration</th>
      <th>Casting Time</th>
      <th>Attack / Save</th>
      <th>Damage / Effect</th>
    </tr>
    <tr>
      <td>{% if page.concentration %}<i class="fa-solid fa-copyright"></i> {% endif %}{% if page.duration %}{{ page.duration }}{% else %}Instantaneous{% endif %}</td>
      <td>{% if page.cast_time %}{{ page.cast_time }}{% else %}1 Action{% endif %}{% if page.ritual %} <i class="fa-solid fa-registered"></i>{% endif %}</td>
      <td>{% if page.attack %}{{ page.attack }}{% else %}None{% endif %}</td>
      <td>{% if page.effect %}{% include effect.html type=page.effect %} {{ page.effect }}{% else %}{% for tag in page.tags %}{% if tag != "Spell" %}{{ tag }}{% break %}{% endif %}{% endfor %}{% endif %}</td>
    </tr>
  </tbody>
</table>
