<table>
  <thead>
    <tr>
      <th>Level</th>
      <th>School</th>
      <th>Range / Area</th>
      <th>Components</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ page.level }}</td>
      <td>{{ page.school }}</td>
      <td>{{ page.range }}</td>
      <td>{{ page.comp | join: ', ' }}{% if page.material %}*{% endif %}</td>
    </tr>
    <tr>
      <th>Duration</th>
      <th>Casting Time</th>
      <th>Attack / Save</th>
      <th>Damage / Effect</th>
    </tr>
    <tr>
      <td>{% if page.concentration %}<i class="fa-solid fa-copyright"></i>{% endif %}{{ page.duration }}</td>
      <td>{{ page.cast_time }}{% if page.ritual %}<i class="fa-solid fa-registered"></i>{% endif %}</td>
      <td>{{ page.attack }}</td>
      <td>{{ page.effect }}</td>
    </tr>
  </tbody>
</table>
