{% capture sublink %}
{% assign index = include.title | slugify %}
{% assign permalink_parts = page.permalink | split: "/" %}
{% assign collection = permalink_parts[1] %}
{% assign subpage = site[collection] | where: "index", index | first %}
<span class="tooltip">
  <a href="{{ page.permalink | append: index | relative_url }}" class="tooltip-link">
    {{ include.title }}
  </a>
  {% if subpage %}
    <span class="tooltip-content">
      {{ subpage.excerpt }}
    </span>
</span>
{% endcapture %}{{ sublink | strip_newlines | strip }}
