{% capture tooltip_content %}
{% assign tooltip = site.tooltips | where: "title", include.title | first %}
{% assign spell = site.spells | where: "title", include.title | first %}
{% if spell %}
<span class="tooltip">
  <a href="{{ spell.permalink }}" class="tooltip-link">
    {{ include.title }}
  </a>
  <span class="tooltip-content">
    <strong>{{ spell.level }}</strong> ({{ spell.school }})
    {% capture table %}

      | Range / Area      | Duration       | Casting Time    |
      | :---------------- | :------------- | :-------------- |
      | {{ spell.range }} | spell.duration | spell.cast_time |
    {% endcapture %}{{ table | markdownify }}
    <i>{{ spell.excerpt | markdownify }}</i>
  </span>
</span>
{% elsif tooltip %}
<span class="tooltip">
  <a {% if tooltip.link %}href="{{ tooltip.link }}" {% endif %}class="tooltip-link">
    {{ include.title }}
  </a>
  <span class="tooltip-content">
    {{ tooltip.content }}
  </span>
</span>
{% else %}
  <a>{{ include.title }}</a>
{% endif %}
<style>
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip-link {
  text-decoration: none;
  color: inherit;
}

.tooltip-content {
  display: none;
  position: absolute;
  background-color: #1e1e1e; /* Dark background color */
  color: #fff; /* Text color */
  border: 1px solid #333; /* Darker border color */
  padding: 10px;
  z-index: 10;
  width: 400px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px; /* Adjust for smaller text */
  font-weight: normal; /* Ensure normal text */
}

.tooltip-link:hover + .tooltip-content {
  display: block;
}
</style>
{% endcapture %}{{ tooltip_content | strip_newlines | strip }}
