{% capture Athletics %}{% include tooltip.html title="Athletics" %}{% endcapture %}
{% assign Athletics = Athletics | strip %}
{% capture Acrobatics %}{% include tooltip.html title="Acrobatics" %}{% endcapture %}
{% assign Acrobatics = Acrobatics | strip %}
{% capture Sleight %}{% include tooltip.html title="Sleight of Hand" %}{% endcapture %}
{% assign Sleight = Sleight | strip %}
{% capture Stealth %}{% include tooltip.html title="Stealth" %}{% endcapture %}
{% assign Stealth = Stealth | strip %}
{% capture Arcana %}{% include tooltip.html title="Arcana" %}{% endcapture %}
{% assign Arcana = Arcana | strip %}
{% capture History %}{% include tooltip.html title="History" %}{% endcapture %}
{% assign History = History | strip %}
{% capture Investigation %}{% include tooltip.html title="Investigation" %}{% endcapture %}
{% assign Investigation = Investigation | strip %}
{% capture Nature %}{% include tooltip.html title="Nature" %}{% endcapture %}
{% assign Nature = Nature | strip %}
{% capture Religion %}{% include tooltip.html title="Religion" %}{% endcapture %}
{% assign Religion = Religion | strip %}
{% capture Animal %}{% include tooltip.html title="Animal Handling" %}{% endcapture %}
{% assign Animal = Animal | strip %}
{% capture Insight %}{% include tooltip.html title="Insight" %}{% endcapture %}
{% assign Insight = Insight | strip %}
{% capture Medicine %}{% include tooltip.html title="Medicine" %}{% endcapture %}
{% assign Medicine = Medicine | strip %}
{% capture Perception %}{% include tooltip.html title="Perception" %}{% endcapture %}
{% assign Perception = Perception | strip %}
{% capture Survival %}{% include tooltip.html title="Survival" %}{% endcapture %}
{% assign Survival = Survival | strip %}
{% capture Deception %}{% include tooltip.html title="Deception" %}{% endcapture %}
{% assign Deception = Deception | strip %}
{% capture Intimidation %}{% include tooltip.html title="Intimidation" %}{% endcapture %}
{% assign Intimidation = Intimidation | strip %}
{% capture Performance %}{% include tooltip.html title="Performance" %}{% endcapture %}
{% assign Performance = Performance | strip %}
{% capture Persuasion %}{% include tooltip.html title="Persuasion" %}{% endcapture %}
{% assign Persuasion = Persuasion | strip %}
