{% capture athletics %}{% include tooltip.html title="Athletics" %}{% endcapture %}
{% capture acrobatics %}{% include tooltip.html title="Acrobatics" %}{% endcapture %}
{% capture sleight %}{% include tooltip.html title="Sleight of Hand" %}{% endcapture %}
{% capture stealth %}{% include tooltip.html title="Stealth" %}{% endcapture %}
{% capture arcana %}{% include tooltip.html title="Arcana" %}{% endcapture %}
{% capture history %}{% include tooltip.html title="History" %}{% endcapture %}
{% capture investigation %}{% include tooltip.html title="Investigation" %}{% endcapture %}
{% capture nature %}{% include tooltip.html title="Nature" %}{% endcapture %}
{% capture religion %}{% include tooltip.html title="Religion" %}{% endcapture %}
{% capture animal %}{% include tooltip.html title="Animal Handling" %}{% endcapture %}
{% capture insight %}{% include tooltip.html title="Insight" %}{% endcapture %}
{% capture medicine %}{% include tooltip.html title="Medicine" %}{% endcapture %}
{% capture perception %}{% include tooltip.html title="Perception" %}{% endcapture %}
{% capture survival %}{% include tooltip.html title="Survival" %}{% endcapture %}
{% capture deception %}{% include tooltip.html title="Deception" %}{% endcapture %}
{% capture intimidation %}{% include tooltip.html title="Intimidation" %}{% endcapture %}
{% capture performance %}{% include tooltip.html title="Performance" %}{% endcapture %}
{% capture persuasion %}{% include tooltip.html title="Persuasion" %}{% endcapture %}
