{% capture tooltip_content %}
{% assign tag = nil %}
{% if include.title contains ':' %}
  {% assign collection = include.title | split: ":" | first %}
  {% assign title = include.title | split: ":" | last %}
{% else %}
  {% assign collection = page.permalink | split: "/" | slice: 1 | first %}
  {% assign title = include.title %}
{% endif %}
{% if title contains "!" %}
  {% assign title = title | remove: "!" %}
  {% assign show_tooltip = false %}
{% else %}{% assign show_tooltip = true %}
{% endif %}
{% if title contains "#" %}
  {% assign tag = title | split: "#" | last %}
  {% assign title = title | split: "#" | first %}
{% endif %}
{% if title contains "@" %}
  {% assign index = title | split: "@" | last | remove: "’" | slugify %}
  {% assign title = title | split: "@" | first %}
  {% unless tag %}
    {% assign tag = title %}
  {% endunless %}
{% else %}
  {% assign index = title | remove: "’" | slugify %}
{% endif %}
{% if tag %}
  {% assign tag = tag | remove: "’" | slugify %}
  {% case tag %}
    {% when index %}{% assign tag = nil %}
    {% else %}{% assign tag = tag | prepend: "#" %}
  {% endcase %}
{% endif %}
{% assign spell = site.spells | where_exp: "item", "item.index contains index" | first %}
{% assign tooltip = site.tooltips | where_exp: "item", "item.index contains index" | first %}
{% assign subpage = site[collection] | where_exp: "item", "item.index contains index" | first %}
{% if spell %}
<span class="tooltip">
  <a href="{{ spell.permalink | append: tag }}" class="tooltip-link">
    {{ title }}
  </a>
  {% if show_tooltip %}
  <span class="tooltip-content">
    <strong>{{ spell.level }}</strong> ({{ spell.school }})<br>
    <i>{{ spell.excerpt | markdownify | strip_html }}</i>
  </span>
  {% endif %}
</span>
{% elsif tooltip %}
<span class="tooltip">
  <a {% if tooltip.link %}href="{{ tooltip.link | append: tag }}" {% endif %}class="tooltip-link">
    {{ title }}
  </a>
  {% if tooltip.content and show_tooltip %}
    <span class="tooltip-content">
      <strong>{{ tooltip.title }}</strong><br>
      <i>{{ tooltip.content }}</i>
    </span>
  {% endif %}
</span>
{% elsif subpage %}
  <span class="tooltip">
    <a href="{{ subpage.permalink | relative_url | append: tag }}" class="tooltip-link">
      {{ title }}
    </a>
    {% if show_tooltip %}
      {% assign max = nil %}
      {% if tag %}
        {% if title.size > tag.size %}{% assign max = title.size %}
        {% else%}{% assign max = tag.size %}{% endif %}
      {% else %}
        {% assign excerpt = subpage.excerpt | slice: 0, 150 | markdownify | strip_html | strip %}
        {% if 36 > excerpt.size %}{% assign max = excerpt.size %}{% endif %}
      {% endif %}
      {% if max and 8 > max %}{% assign max = 8 %}{% endif %}
      {% if tag or excerpt.size %}
        <span class="tooltip-content"{% if max %} style="width: {{ max | times: 11 }}px; text-align: center; left: 50%; transform: translateX(-50%);"{% endif %}>
          {% if tag %}
            {% assign tag = tag | replace: "-", " " | remove: "#" | capitalize %}
            {% assign comp = subpage.title | slugify | replace: "-", " " | capitalize %}
            {% unless tag == comp %}<strong>{{ tag }}</strong><br>{% endunless %}
            {{ subpage.title }}
          {% else %}
            {{ excerpt }}{% if excerpt.size > 150 %}...{% endif %}
          {% endif %}
        </span>
      {% endif %}
    {% endif %}
  </span>
{% else %}
  <a href="#{{ index }}" class="tooltip-link">{{ title }}</a>
{% endif %}
{% endcapture %}{{ tooltip_content | strip_newlines | strip }}
