---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.tooltip {
  position: relative;
  cursor: pointer;
  border-bottom: 1px dotted #000;
}

.tooltip[data-tooltip]:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  left: 0;
  top: 100%;
  background: #333;
  color: #fff;
  padding: 5px 10px;
  white-space: nowrap;
  z-index: 1000;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  font-size: 0.9em;
}

.tooltip[data-tooltip]:hover::before {
  content: '';
  position: absolute;
  left: 10px;
  top: 100%;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
  z-index: 1001;
}
