---
layout: single
---

<div class="page__content">
  {% assign str_mod = page.str_score | minus: 10 | divided_by: 2 %}
  {% assign dex_mod = page.dex_score | minus: 10 | divided_by: 2 %}
  {% assign con_mod = page.con_score | minus: 10 | divided_by: 2 %}
  {% assign int_mod = page.int_score | minus: 10 | divided_by: 2 %}
  {% assign wis_mod = page.wis_score | minus: 10 | divided_by: 2 %}
  {% assign cha_mod = page.cha_score | minus: 10 | divided_by: 2 %}

  <p><strong>Armor Class</strong> {{ page.armor_class }}</p>
  <p><strong>Hit Points</strong> {{ page.hit_points }}</p>
  <p><strong>Speed</strong> {{ page.speed }}</p>
  <table>
    <tr>
      <td><strong>STR</strong></td>
      <td><strong>DEX</strong></td>
      <td><strong>CON</strong></td>
    </tr>
    <tr>
      <td>{{ page.str_score }} ({% if str_mod > 0 %}+{% endif %}{{ str_mod }})</td>
      <td>{{ page.dex_score }} ({% if dex_mod > 0 %}+{% endif %}{{ dex_mod }})</td>
      <td>{{ page.con_score }} ({% if con_mod > 0 %}+{% endif %}{{ con_mod }})</td>
    </tr>
    <tr>
      <td><strong>INT</strong></td>
      <td><strong>WIS</strong></td>
      <td><strong>CHA</strong></td>
    </tr>
    <tr>
      <td>{{ page.int_score }} ({% if int_mod > 0 %}+{% endif %}{{ int_mod }})</td>
      <td>{{ page.wis_score }} ({% if wis_mod > 0 %}+{% endif %}{{ wis_mod }})</td>
      <td>{{ page.cha_score }} ({% if cha_mod > 0 %}+{% endif %}{{ cha_mod }})</td>
    </tr>
  </table>
  <p><strong>Saving Throws</strong> {{ page.saving_throws }}</p>
  <p><strong>Skills</strong> {{ page.skills }}</p>
  {% if page.damage_vulnerabilities %}<p><strong>Damage Vulnerabilities</strong> {{ page.damage_vulnerabilities }}</p>{% endif %}
  {% if page.damage_resistances %}<p><strong>Damage Resistances</strong> {{ page.damage_resistances }}</p>{% endif %}
  {% if page.damage_immunities %}<p><strong>Damage Immunities</strong> {{ page.damage_immunities }}</p>{% endif %}
  {% if page.condition_immunities %}<p><strong>Condition Immunities</strong> {{ page.condition_immunities }}</p>{% endif %}
  <p><strong>Senses</strong> {{ page.senses }}</p>
  <p><strong>Languages</strong> {{ page.languages }}</p>
  <p><strong>Challenge</strong> {{ page.challenge_rating }} ({{ page.xp }} XP)</p>
  <p><strong>Proficiency Bonus</strong> {{ page.proficiency_bonus }}</p>
  <h2>Traits</h2>
  <p>{{ page.traits | markdownify }}</p>
  <h2>Actions</h2>
  <p>{{ page.actions | markdownify }}</p>
  {% if page.reactions %}<h2>Reactions</h2>
  <p>{{ page.reactions | markdownify }}</p>{% endif %}
  {% if page.legendary_actions %}<h2>Legendary Actions</h2>
  <p>{{ page.legendary_actions | markdownify }}</p>{% endif %}
{% include render_tooltips.html content=content %}
</div>
