---
layout: single
---
{% assign levels = site.data.navigation.spells %}

<div class="page__content">
  {{ content }}
  {% capture button %}[Main Page](/classes/{{ page.class | slugify}}/{% if page.subclass %}{{ page.subclass | slugify }}/{% endif %}){: .btn .btn--light-outline .btn--small}{% endcapture %}{{ button | markdownify }}
  {% for level in levels %}
    {% assign level_spells = site.spells | where: "level", level.title | sort: "title" %}
    {% assign spell_found = false %}

    {% for spell in level_spells %}
      {% if spell.available_for contains page.class or spell.available_for contains page.subclass or page.additional_spells contains spell.title %}
        {% assign spell_found = true %}
        {% break %}
      {% endif %}
    {% endfor %}

    {% if spell_found %}
      <h1>{{ level.title }}</h1>
      <ul>
      {% for spell in level_spells %}
        {% if spell.available_for contains page.class or spell.available_for contains page.subclass or page.additional_spells contains spell.title %}
          <li>
            {% include tooltip.html title=spell.title %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    {% endif %}
  {% endfor %}
</div>
